@model websit.Models.Loginview
@using (Html.BeginForm(  new { ReturnUrl = ViewBag.ReturnUrl }))
{
    <fieldset>
        <legend>Log in Form</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.bloggers.Username)
                @Html.TextBoxFor(m => m.bloggers.Username)
                @Html.ValidationMessageFor(m => m.bloggers.Username)
            </li>
            <li>
                @Html.LabelFor(m => m.bloggers.Password)
                @Html.PasswordFor(m => m.bloggers.Password)
                @Html.ValidationMessageFor(m => m.bloggers.Password)
            </li>
        </ol>
        <input type="submit" value="Log in" />
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
